<div id="main-page">
    <div id="search-bar">
        <input type="search" #searchInput id="searchInput" label="Search For ID or City"
        (input)="onSearch(searchInput.value)" placeholder="Search by ID or City">
    </div>
    <select #filterSelect id="filterTable" (change)="filterTable(filterSelect.value)">
        <option value="active">Active</option>
        <option value="offline">Offline</option>
        <option value="charging">Charging</option>
        <option value="maintenance">Maintenance</option>
    </select>
    <div id="vehicles-table">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let col of columns">{{ col.label }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of filteredVehicles; trackBy: trackById">
                    <td *ngFor="let col of columns">
                        {{ col.get ? col.get(v) : getValue(v, col.key)}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
